body, html {
    font-size: 20px;
}
.Tieu_de {
    font-size: 50px;
    color: brown;
    text-shadow: 10px 30px 20px rgb(176, 96, 96);
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.Box_header {
    width: 100%;
    height: 50px;
    background-color: rgb(244, 243, 220);
}

.Text_header {
    font-size: 40px;
    color: brown;
    font-weight: bold;
}

.Thanh_Menu {
    width: 100%;
    height: 80px;
    background-color: rgb(225, 139, 144);
}
.Duong_ngan_o {
    margin-top: 10px;
    width: 2px;
    height: 50px;
    background-color: blue;
}
.text_menu {
    font-size:26px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.menu {
    margin-top: -5px;
    margin-bottom: 2px;
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.menu a {
    text-decoration: none;
}